[user]
    name  = xetri
    email = xetrymebich@gmail.com
[init]
    defaultBranch = master
[credential]
    helper = store
[color]
    branch = auto
    diff = auto
    status = auto
    interactive = auto
    ui = auto
[color "branch"]
    current = green
    remote = yellow
[alias]
    c     = commit
    br    = branch
    pu    = push
    pl    = pull
    co    = checkout
    fo    = fetch origin
    lo    = log --oneline
    tree  = log --graph --decorate --pretty=oneline --abbrev-commit --all
