[user]
	name = Avrel
	email = 106798140+xetri@users.noreply.github.com
[init]
	defaultBranch = master
[credential]
	helper = store
[alias]
	co = checkout
	br = branch
	ci = commit
	cm = commit -m
	pu = push
	pl = pull
